*{
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
}

html, body{
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    margin: auto;
}
:root{
    --nav-color: rgb(0, 0, 0);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:var(--nav-color);
    font-family: "Montserrat", sans-serif;
}

.logo{
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 25px;
    text-transform: uppercase;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

.nav-links li{
    list-style: none;
}

.burger div{
    width: 30px; 
    height: 5px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}

.burger{display:none; cursor: pointer;}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--nav-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition:transform 0.5s ease-in;
        position: fixed;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);

}

body{
    background-color: rgb(223, 219, 219);
}

.nav-links li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s; 
}

.nav-links li a:hover::after{
    width: 100%; 
    transition: width .3s;
}

footer{
    background: #e9cece;
    padding: 30px 0;
    bottom: 0;
    width: 100%;
    position: absolute;
  }
  
  .footer-container{
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-logo{
    width: 180px;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #e28b8b;
  }
  
  .right-col h1{
    font-size: 26px;
  }

  .right-col{
  }
  
  .border{
    width: 100%;
    height: 4px;
    background: #b63232;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }
  
  .btn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #a1252c;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btn:hover{
    opacity: .7;
  }
  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 60px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width:700px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }